header,
main {
  background-color: #F8F8F8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.container .h-top-block {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .h-top-block .h-top-block__logo {
  width: 66%;
}
.container .h-top-block .h-top-block__phone,
.container .h-top-block .h-top-block__burger {
  width: 17%;
}
.container .big-main-pic {
  padding-top: 90px;
}
.container .big-main-pic .big-main-pic__h1-like {
  text-align: center;
  color: transparent;
  font-size: 230px;
  font-weight: 800;
  font-family: "Montserrat";
  background-image: url(../video/forest-video.gif);
  background-position: center;
  -webkit-background-clip: text;
}
.container .big-main-pic .big-main-pic__text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.0703846px;
  color: #1D1F1D;
  mix-blend-mode: normal;
  padding-top: 65px;
}
.container .big-main-pic .big-main-pic__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #1D1F1D;
  padding-top: 26px;
}
.container .big-main-pic .big-main-pic__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 63px;
  padding-bottom: 190px;
}
.container .big-main-pic .big-main-pic__button a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 90%;
  letter-spacing: 0.0703846px;
  color: #1D1F1D;
  text-decoration: none;
  border: 1px solid #1D1F1D;
  border-radius: 30px;
  padding: 23px 40px;
}

.land-map-bg {
  background-image: url(../img/Main/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container .m-land-map .m-land-map__advantages {
  display: block;
}
.container .m-land-map .m-land-map__advantages .m-land-map__advantages-styles {
  padding-top: 29px;
  width: 100%;
}
.container .m-land-map .m-land-map__advantages .m-land-map__advantages-styles :first-child {
  padding-top: 36;
}
.container .m-land-map .m-land-map__advantages .m-land-map__advantages-styles h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #1D1F1D;
  padding-top: 19px;
}
.container .m-land-map .m-land-map__advantages .m-land-map__advantages-styles p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: #000000;
  padding-top: 11px;
}
.container .m-land-map .m-land-map__sea-distance {
  padding-top: 94px;
}
.container .m-land-map .m-land-map__sea-distance p {
  text-align: center;
}